{
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "allowTemplateLiterals": true,
    "quotes": "off",
    "comma-dangle": "off"
  }
}
